:root,
:root {
	font-family: 'Comic Sans', 'Times New Roman', serif;
	font-size: 16px;
}

* {
	font-family: inherit;
}

/* spacing */

table {
	border-collapse: collapse;
	border: 1px solid black;
}

th,
td {
	padding: 0.5em;
}

@keyframes blink {
	0% {
		background-color: white;
	}
	90% {
		background-color: blue;
	}
	100% {
		background-color: white;
	}
}
